@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Karantina;
}

.card-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;

  padding: 16px;
}

.card {
  flex: 1;
  position: relative;
  aspect-ratio: 9 / 16;
  width: 180px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #b33139;
  border-radius: 5px;

  overflow: hidden;

  margin: 0 0 16px 0;
}

.card > *:not(span) {
  top: 0;
  left: 0;
  position: absolute;

  width: 100%;
  height: 100%;
}

.character-name {
  z-index: 1;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  object-fit: contain;
  width: 100px;
}
